<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生成绩管理系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="/Sys/css/layui.css">
    <link rel="stylesheet" href="/Sys/css/sign.css">
    <link rel="stylesheet"
          href="/Sys/js/css/modules/layui-icon-extend/iconfont.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/Sys/css/font.css">
    <link rel="stylesheet" href="/Sys/css/xadmin.css">
    <script type="text/javascript" src="/Sys/js/jquery-3.3.1.min.js"></script>
    <script src="/Sys/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a href=""><img border="0" src="/Sys/images/hs.jpg">
            米脂县贫困生源系统</a>
    </div>
    <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item"><a href="javascript:;">当前用户：<span
                th:text="${session.name}"></span> </a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a href="loginView">切换帐号</a>
                </dd>
                <dd>
                    <a onclick="changePwd()">修改密码</a>
                </dd>
                <dd>
                    <a href="loginOut">退出</a>
                </dd>
            </dl>
        </li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav" style="width: 100%; height: 57%">
        <ul id="nav">
            <li th:id="hide" hidden th:text="${session.role}"></li>
            <li><a href="javascript:;"> <i class="iconfont">&#xe726;</i>
                <cite>生源管理</cite> <i class="iconfont nav_right">&#xe697;</i>
            </a>
                <ul class="sub-menu">
                    <li><a _href="poorInfo"> <i class="iconfont">&#xe6a7;</i>
                        <cite>贫困库生源</cite>
                    </a></li>


                    <li><a _href="subsidizeInfo"> <i class="iconfont">&#xe6a7;</i>
                        <cite>资助库生源</cite>
                    </a></li>
                </ul>
            </li>


            <li><a href="javascript:;"> <i
                    class="iconfont layui-icon-extend-chengji"></i> <cite>学生信息</cite>
                <i class="iconfont nav_right">&#xe697;</i>
            </a>
                <ul class="sub-menu">
                    <li><a _href="studentInfo"> <i
                            class="iconfont">&#xe6a7;</i> <cite>在校学生</cite>
                    </a></li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>统计</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a _href="learningPeriod">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>米脂县户籍脱贫家庭学生分乡镇分学段人数统计</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="learningPeriodInMizhi">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>米脂县户籍在米就读脱贫家庭学生分乡镇分学段资助汇总</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="schoolPeriodInMizhi">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>米脂县就读脱贫家庭分学校分学段资助汇总</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="schoolPeriodInMizhiNotBuildCard">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>米脂县就读分学校分学段资助汇总</cite>
                        </a>
                    </li >
                    <li>
                        <a _href="learningPeriodWithSubsidize">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>米脂户籍脱贫家庭学生资助总表</cite>
                        </a>
                    </li >
                </ul>
            </li>

            <li id="userManager"><a href="javascript:;"> <i
                    class="iconfont layui-icon-extend-chengji"></i> <cite>用户管理</cite>
                <i class="iconfont nav_right">&#xe697;</i>
            </a>
                <ul class="sub-menu">
                    <li><a _href="baseFunction"> <i
                            class="iconfont">&#xe6a7;</i> <cite>功能列表</cite>
                    </a></li>
                    <li><a _href="userManager"> <i
                            class="iconfont">&#xe6a7;</i> <cite>用户管理</cite>
                    </a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='welcome' frameborder="0" scrolling="yes"
                        class="x-iframe"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
    <div class="copyright" style="text-align: center;">Copyright
        WonderfulMorty
    </div>
</div>
<!-- 底部结束 -->
<script type="text/javascript">
    $(function () {
        var role = $("#hide").text();
        if(role != 'admin') {
            $("#userManager").attr("hidden", true);
        }
    });

    function changePwd() {
        layer.open(
            {
                type: 2,
                title: '修改密码页面',
                skin: 'layui-layer-lan',
                shadeClose: false,
                shade: 0.8,
                area:  ['450px', '450px'],
                resize:true,
                content:'/Sys/changePwd',
                success: function(layero, index){
                },
                end: function(){
                    window.location.reload(); //刷新父页面
                }
            })
    }
</script>
</body>
</html>