<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
   <link rel="stylesheet" href="/Sys/css/layui.css">
<link rel="stylesheet" href="/Sys/css/sign.css">


<link rel="stylesheet"
	href="/Sys/js/css/modules/layui-icon-extend/iconfont.css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/Sys/css/font.css">
<link rel="stylesheet" href="/Sys/css/xadmin.css">




<script type="text/javascript"
	src="/Sys/js/jquery-3.3.1.min.js"></script>
<script src="/Sys/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/xadmin.js"></script>
<script type="text/javascript" src = "/Sys/js/jquery.table2excel.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
         <div class="searchTable" style="margin-bottom: 20px">
              姓名：
              <div class="layui-inline">
                <input class="layui-input" name="username" id="username" autocomplete="off">
              </div>
             身份证：
             <div class="layui-inline">
                 <input class="layui-input" name="idCard" id="idcard" autocomplete="off">
             </div>
             学校：
             <div class="layui-inline">
                 <input class="layui-input" name="school" id="school" autocomplete="off">
             </div>
             班级：
             <div class="layui-inline">
                 <input class="layui-input" name="clazz" id="clazz" autocomplete="off">
             </div>
             学籍号：
             <div class="layui-inline">
                 <input class="layui-input" name="studentNumber" id="studentNumber" autocomplete="off">
             </div>
              <button class="layui-btn" data-type="reload"><i class="layui-icon">&#xe615;</i></button>
             <button class="layui-btn" id="clear" onclick="selectClear()">清空</button>
            </div>
         </div>
      
          <xblock >
              <button class="layui-btn  layui-btn-normal" onclick="downloadTemplate()">下载模板</button>
              <button class="layui-btn" onclick="addStudent()"><i class="layui-icon"></i>添加</button>
              <button class="layui-btn layui-btn-warm" id="importData">导入</button>
              <button class="layui-btn layui-btn-warm" id="exportData" onclick="exportTable()">导出</button>
              <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
          </xblock>
        <table id="studentTable" lay-filter="studentTable"></table>
  
    </div>   
  </body>
  
  <script type="text/html" id="studentBar">
      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  </script>
  
  
  
  <script >
  var documentWidth = $(document).width();
  layui.use('table', function(){
      var table = layui.table;
      table.render({
          elem: '#studentTable'  //绑定table表格
          ,id:'studentInfo'
          ,method:'post'
          ,url: '/student/studentInfo' //后台springmvc接收路径
          ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
  	        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
	      //,curr: 5 //设定初始在第 5 页
	      ,groups: 1 //只显示 1 个连续页码
	      ,first: false //不显示首页
	      ,last: false //不显示尾页
	      ,limit:5
	      ,limits:[10,15,20]
	    }
          ,cols: [
        	  [
             {type: 'checkbox',width:documentWidth*4/100} 
              ,{type:'numbers',title:'序号', width:documentWidth*10/100, sort: true}
              ,{field:'school', title:'学校全称', width:documentWidth*8/100, edit:"text"}
              ,{field:'clazz',title:'年级',width:documentWidth*8/100, edit:"text"}
              ,{field:'studentName', title:'姓名', width:documentWidth*10/100, edit:"text"}
              ,{field:'idCard', title:'身份证号码', width:documentWidth*10/80, edit:"false"}
              ,{field:'sex', title:'性别', width:documentWidth*10/100, edit:"text"}
              ,{field:'studentNumber', title:'学籍号', width:documentWidth*10/100, edit:"text"}
              ,{field:'schoolUniforms', title:'是否享受校服', width:documentWidth*10/80, edit:"text"}
              ,{field:'model', title:'型号', width:documentWidth*10/100, edit:"text"}
              ,{field:'homework', title:'是否享受作业本', width:documentWidth*10/100, edit:"text"}
              ,{field:'studyTool', title:'是否享受学具', width:documentWidth*10/100, edit:"text"}
              ,{field:'remark', title:'备注', width:documentWidth*10/50, edit:"text"}
              ,{field:'operation',title:'操作',toolbar: '#studentBar',  width:documentWidth*10/100}
          ]
        	  ]
      });
    
      //表格重載
	  var $ = layui.$, active = {
        reload: function(){
          var username = $('#username');
          var idcard = $('#idcard');
          var school = $('#school');
          var clazz = $('#clazz');
          var studentNumber = $('#studentNumber');
          // 执行重载
          table.reload('studentInfo', {
            page: {
              curr: 1 //重新从第 1 页开始
            },
        url:'/student/studentInfo'
            ,where: {
                username: username.val().replace(/(^\s*)|(\s*$)/g, ""),
                idcard: idcard.val().replace(/(^\s*)|(\s*$)/g, ""),
                  school: school.val().replace(/(^\s*)|(\s*$)/g, ""),
                  clazz: clazz.val().replace(/(^\s*)|(\s*$)/g, ""),
                  studentNumber: studentNumber.val().replace(/(^\s*)|(\s*$)/g, ""),
            }
            ,method:'post'
          });
        }
      };
    		  
      $('.searchTable .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
      });

      table.on('edit(studentTable)', function (obj) {
          var data = obj.data;
          $.ajax({
              type:"put",
              url:"/student/update",
              async:true,
              data:{
                  field:obj.field,
                  value:obj.value,
                  id:data.id
              },
              dataType:"json",
              success:function(data){
                  if(data.code == 200) {
                      layer.msg('修改成功！',{icon:6,offset:"auto",time:2000});//提示框
                  } else {
                      layer.msg(data.msg,{icon:5,offset:"auto",time:2000});//提示框
                  }
              }
          });
      })

      table.on('tool(studentTable)', function (obj) {
          var data = obj.data;
          if(obj.event === 'del'){
              layer.confirm('真的删除['+data.studentName+']么', function(index){
                  deleteStudentInfo(data.id);
              });
          }
      })
  });

  function downloadTemplate() {
      window.open("/student/download");
  }

  function deleteStudentInfo(studentId){
      $.ajax({
          type:"delete",
          url:"/student/delete/"+studentId,
          async:true,
          dataType:"json",
          success:function(data){
              if(data.code == 200) {
                  layer.msg('删除成功！',{icon:6,offset:"auto",time:1000});//提示框
                  setTimeout(location.reload(),2000)
              } else {
                  layer.msg('删除失败！',{icon:5,offset:"auto",time:1000});//提示框
              }
          }
      });
  }

  function delAll (argument) {
	  layui.use('table',function(){
	  var table = layui.table
	  var checkStatus = table.checkStatus('studentInfo');
	  if(checkStatus.data.length==0){
			parent.layer.msg('请先选择要删除的数据行！', {icon: 2});
			return ;
		}
		var nums = "";
		for(var i=0;i<checkStatus.data.length;i++){
			nums += checkStatus.data[i].id+",";
		}
		
		parent.layer.msg('删除中...', {icon: 16,shade: 0.3,time:3000});

		$.ajax({
			url:'/student/deletes',
			data:{'nums':nums},
			type:'post',
			success:function(data){
				 if(data.code == 200){
				        parent.layer.msg('删除成功！', {icon: 1,time:2000,shade:0.2});
				        location.reload(true);
			        }else{
				        parent.layer.msg('删除失败！', {icon: 2,time:3000,shade:0.2});
			        }
			}
		});      
      });
    }

  function addStudent(){
    	layer.open(
                {
                    type: 2,
                    title: '增加页面',
                    skin: 'layui-layer-lan',
                    shadeClose: false,
                    shade: 0.8,
                    area:  ['700px', '450px'],
                    resize:true,
                    content:'/Sys/studentInfo/add',
                    end: function(){
                    	window.location.reload(); //刷新父页面
                    }
                });
    }

  function exportTable(){
      var table = layui.table
      var checkStatus = table.checkStatus('studentInfo');
      var nums="";
      for(var i=0;i<checkStatus.data.length;i++){
          nums += checkStatus.data[i].id+",";
      }
      location.href = "/Student/export?nums="+nums;
  }
  

  layui.use(['form','layer','table','upload'], function(){
      var table = layui.table
      ,form = layui.form,upload = layui.upload;
       var uploadInst = upload.render({
        elem: '#importData'
        , exts: "xls|xlsx|xlsm"
        ,url: '/Student/import'
           ,done: function (data) {
               if (data.code == 200) {
                   layer.msg('导入成功！',{icon:6,offset:"auto",time:1000});//提示框
                   layer._delay(location.reload(),2000)
               } else {
                   layer.msg('导入失败,' + data.msg,{icon:6,offset:"auto",time:3000});//提示框
               }
           }
      });
  })

      function selectClear() {
          $('#username').val(null);
          $('#idcard').val(null);
          $('#school').val(null);
          $('#clazz').val(null);
          $('#studentNumber').val(null);
      }

</script>  
  
</html>