<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
   <link rel="stylesheet" href="/Sys/css/layui.css">
<link rel="stylesheet" href="/Sys/css/sign.css">


<link rel="stylesheet"
	href="/Sys/js/css/modules/layui-icon-extend/iconfont.css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/Sys/css/font.css">
<link rel="stylesheet" href="/Sys/css/xadmin.css">




<script type="text/javascript"
	src="/Sys/js/jquery-3.3.1.min.js"></script>
<script src="/Sys/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/xadmin.js"></script>
<script type="text/javascript" src = "/Sys/js/jquery.table2excel.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
         <div class="searchTable" style="margin-bottom: 20px">
             学期：
             <div class="layui-inline">
                 <select name="semester" id="semester" style="width: 110px;height: 38px">
                     <option value="2021春" selected>2021春</option>
                     <option value="2021秋">2021秋</option>
                     <option value="2022春">2022春</option>
                     <option value="2022秋">2022秋</option>
                     <option value="2023春">2023春</option>
                     <option value="2023秋">2023秋</option>
                     <option value="2024春">2024春</option>
                     <option value="2024秋">2024秋</option>
                     <option value="2025春">2025春</option>
                     <option value="2025秋">2025秋</option>
                     <option value="2026春">2026春</option>
                     <option value="2026秋">2026秋</option>
                     <option value="2027春">2027春</option>
                     <option value="2027秋">2027秋</option>
                     <option value="2028春">2028春</option>
                     <option value="2028秋">2028秋</option>
                     <option value="2029春">2029春</option>
                     <option value="2029秋">2029秋</option>
                     <option value="2030春">2030春</option>
                     <option value="2030秋">2030秋</option>
                     <option value="2031春">2031春</option>
                     <option value="2031秋">2031秋</option>
                     <option value="2032春">2032春</option>
                     <option value="2032秋">2032秋</option>
                     <option value="2033春">2033春</option>
                     <option value="2033秋">2033秋</option>
                     <option value="2034春">2034春</option>
                     <option value="2034秋">2034秋</option>
                     <option value="2035春">2035春</option>
                     <option value="2035秋">2035秋</option>
                 </select>
             </div>
             姓名：
             <div class="layui-inline">
                 <input class="layui-input" name="username" id="username" autocomplete="off" style="width: 100px;">
             </div>
             身份证：
             <div class="layui-inline">
                 <input class="layui-input" name="idCard" id="idcard" autocomplete="off">
             </div>
             学段：
             <div class="layui-inline">
                 <input class="layui-input" name="studyLevel" id="studyLevel" autocomplete="off" style="width: 100px;">
             </div>
             省市：
             <div class="layui-inline">
                 <input class="layui-input" name="province" id="province" autocomplete="off"  style="width: 80px;">
             </div>
             区县：
             <div class="layui-inline">
                 <input class="layui-input" name="county" id="county" autocomplete="off"  style="width: 80px;">
             </div>
             乡镇：
             <div class="layui-inline">
                 <input class="layui-input" name="village" id="village" autocomplete="off"  style="width: 100px;">
             </div>
             村组：
             <div class="layui-inline">
                 <input class="layui-input" name="cun" id="cun" autocomplete="off"  style="width: 100px;">
             </div>
             享受米脂资助：
             <div class="layui-inline">
                 <select name="semester" id="thisEnjoy" style="width: 70px;height: 38px">
                     <option value="">请选择</option>
                     <option value="是">是</option>
                     <option value="否">否</option>
                 </select>
             </div>
             <button class="layui-btn" data-type="reload"><i class="layui-icon">&#xe615;</i></button>
             <button class="layui-btn" id="clear" onclick="selectClear()">清空</button>
            </div>
         </div>
      
          <xblock >
              <button class="layui-btn  layui-btn-normal" onclick="downloadTemplate()">下载模板</button>
              <button class="layui-btn layui-btn-warm" id="importData" >导入</button>
              <button class="layui-btn layui-btn-warm" id="exportData" onclick="exportTable()">导出</button>
              <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
          </xblock>
        <table id="subsidizeTable" lay-filter="subsidizeTable"></table>
  
    </div>   
  </body>
  
  <script type="text/html" id="subsidizeBar">
      <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
  </script>
  
  
  
  <script >
  var documentWidth = $(document).width();
  layui.use('table', function(){
      var table = layui.table;
      table.render({
          elem: '#subsidizeTable'  //绑定table表格
          ,id:'subsidizeInfo'
          ,method:'post'
          ,url: '/subsidize/subsidizeInfo' //后台springmvc接收路径
          ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
  	        layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
	      //,curr: 5 //设定初始在第 5 页
	      ,groups: 1 //只显示 1 个连续页码
	      ,first: false //不显示首页
	      ,last: false //不显示尾页
	      ,limit:10
	      ,limits:[10,15,20]
	    }
          ,cols: [
        	  [
             {type: 'checkbox',width:documentWidth*4/100} 
              ,{type:'numbers',title:'序号', width:documentWidth*10/100, sort: true}
              ,{field:'name', title:'姓名', width:documentWidth*10/100, edit:"text"}
              ,{field:'idCard', title:'身份证号码', width:documentWidth*10/80, edit:"false"}
              ,{field:'subsidizeProject', title:'资助项目', width:documentWidth*8/100, edit:"text"}
              ,{field:'subsidizeMoney', title:'资助金额', width:documentWidth*8/100, edit:"text"}
              ,{field:'nutrimealMoney', title:'营养餐金额', width:documentWidth*8/100, edit:"text"}
              ,{field:'province', title:'省市', width:documentWidth*8/100, edit:"text"}
              ,{field:'county',title:'区县',width:documentWidth*8/100, edit:"text"}
              ,{field:'village', title:'乡镇', width:documentWidth*10/100, edit:"text"}
              ,{field:'cun', title:'村组（社区）', width:documentWidth*10/100, edit:"text"}
              ,{field:'sixFifteen', title:'是否6-15周岁', width:documentWidth*10/100, edit:"text"}
              ,{field:'headOfHouseNum', title:'户编号', width:documentWidth*10/100, edit:"text"}
              ,{field:'headOfHouseName', title:'户主姓名', width:documentWidth*10/100, edit:"text"}
              ,{field:'headOfHouseIdCard', title:'户主身份证号码', width:documentWidth*10/80, edit:"text"}
              ,{field:'headOfHouseTel', title:'联系电话', width:documentWidth*10/100, edit:"text"}
              ,{field:'school', title:'学校全称', width:documentWidth*10/100, edit:"text"}
              ,{field:'studyLevel', title:'学段', width:documentWidth*10/100, edit:"text"}
              ,{field:'grade', title:'年级', width:documentWidth*10/100, edit:"text"}
              ,{field:'clazz', title:'班级', width:documentWidth*10/100, edit:"text"}
              ,{field:'studentNumber', title:'学籍号', width:documentWidth*10/100, edit:"text"}
              ,{field:'studyWay', title:'就读方式', width:documentWidth*10/100, edit:"text"}
              ,{field:'ifDisability', title:'是否残疾生', width:documentWidth*10/100, edit:"text"}
              ,{field:'disabilityNumber', title:'残疾生证号', width:documentWidth*10/100, edit:"text"}
              ,{field:'notInSchoolReason', title:'不在校原因', width:documentWidth*10/100, edit:"text"}
              ,{field:'poorType', title:'贫困类型', width:documentWidth*10/150, edit:"text"}
              ,{field:'ifVillage', title:'镇内就读/镇外就读', width:documentWidth*10/150, edit:"text"}
              ,{field:'ifCounty', title:'县内就读/县外就读', width:documentWidth*10/150, edit:"text"}
              ,{field:'ifProvince', title:'省内就读/省外就读', width:documentWidth*10/150, edit:"text"}
              ,{field:'thisEnjoy', title:'本学期是否享受米脂资助', width:documentWidth*10/70, edit:"text"}
              ,{field:'operation',title:'操作',toolbar: '#subsidizeBar',  width:documentWidth*10/100}
          ]
        	  ]
      });
    
      //表格重載
	  var $ = layui.$, active = {
        reload: function(){
          var username = $('#username');
          var idcard = $('#idcard');
            var semester = $('#semester');
            var studyLevel = $('#studyLevel');
            var province = $('#province');
            var county = $('#county');
            var village = $('#village');
            var cun = $('#cun');
            var thisEnjoy = $('#thisEnjoy');
          // 执行重载
          table.reload('subsidizeInfo', {
            page: {
              curr: 1 //重新从第 1 页开始
            },
        url:'/subsidize/subsidizeInfo'
            ,where: {
                username: username.val().replace(/(^\s*)|(\s*$)/g, ""),
                idcard: idcard.val().replace(/(^\s*)|(\s*$)/g, ""),
                  semester: semester.val().replace(/(^\s*)|(\s*$)/g, ""),
                  studyLevel: studyLevel.val().replace(/(^\s*)|(\s*$)/g, ""),
                  province: province.val().replace(/(^\s*)|(\s*$)/g, ""),
                  county: county.val().replace(/(^\s*)|(\s*$)/g, ""),
                  village: village.val().replace(/(^\s*)|(\s*$)/g, ""),
                  cun: cun.val().replace(/(^\s*)|(\s*$)/g, ""),
                  thisEnjoy: thisEnjoy.val().replace(/(^\s*)|(\s*$)/g, "")
            }
            ,method:'post'
          });
        }
      };
    		  
      $('.searchTable .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
      });

      table.on('edit(subsidizeTable)', function (obj) {
          var data = obj.data;
          $.ajax({
              type:"put",
              url:"/subsidize/update",
              async:true,
              data:{
                  field:obj.field,
                  value:obj.value,
                  id:data.id
              },
              dataType:"json",
              success:function(data){
                  if(data.code == 200) {
                      layer.msg('修改成功！',{icon:6,offset:"auto",time:2000});//提示框
                  } else {
                      layer.msg(data.msg,{icon:5,offset:"auto",time:2000});//提示框
                  }
              }
          });
      })

      table.on('tool(subsidizeTable)', function (obj) {
          var data = obj.data;
          if(obj.event === 'del'){
              layer.confirm('真的删除['+data.name+']么', function(index){
                  deleteSubsidizeInfo(data.id);
              });
          }
      })
  });

  function deleteSubsidizeInfo(poorId){
      $.ajax({
          type:"delete",
          url:"/subsidize/delete/"+poorId,
          async:true,
          dataType:"json",
          success:function(data){
              if(data.code == 200) {
                  layer.msg('删除成功！',{icon:6,offset:"auto",time:1000});//提示框
                  setTimeout(location.reload(),2000)
              } else {
                  layer.msg('删除失败！',{icon:5,offset:"auto",time:1000});//提示框
              }
          }
      });
  }

  function delAll (argument) {
	  layui.use('table',function(){
	  var table = layui.table
	  var checkStatus = table.checkStatus('subsidizeInfo');
	  if(checkStatus.data.length==0){
			parent.layer.msg('请先选择要删除的数据行！', {icon: 2});
			return ;
		}
		var nums = "";
		for(var i=0;i<checkStatus.data.length;i++){
			nums += checkStatus.data[i].id+",";
		}
		
		parent.layer.msg('删除中...', {icon: 16,shade: 0.3,time:3000});

		$.ajax({
			url:'/subsidize/deletes',
			data:{'nums':nums},
			type:'post',
			success:function(data){
				 if(data.code == 200){
				        parent.layer.msg('删除成功！', {icon: 1,time:2000,shade:0.2});
				        location.reload(true);
			        }else{
				        parent.layer.msg('删除失败！', {icon: 2,time:3000,shade:0.2});
			        }
			}
		});      
      });
    }

  function exportTable(){
      var table = layui.table
      var checkStatus = table.checkStatus('subsidizeInfo');
      var nums="";
      for(var i=0;i<checkStatus.data.length;i++){
          nums += checkStatus.data[i].id+",";
      }
      location.href = "/subsidize/export?nums="+nums+"&semester="+$("#semester").val();
  }

  function selectClear() {
      $('#username').val(null);
      $('#idcard').val(null);
      $('#province').val(null);
      $('#county').val(null);
      $('#village').val(null);
      $('#cun').val(null);
  }

  layui.use(['upload'], function(){
      var upload = layui.upload;
      upload.render({
          elem: '#importData'
          , exts: "xls|xlsx|xlsm"
          ,url: '/subsidize/import'
          ,done: function (data) {
              if (data.code == 200) {
                  if(JSON.stringify(data.data) != "success") {
                      var json = eval(data.data);
                      var errorMessage = "部分导入失败: \n";
                      $.each(json, function(index, item){
                          var msg = json[index].errorMsg;
                          errorMessage = errorMessage + msg + "\n";
                      });
                      alert(errorMessage);
                      layer._delay(location.reload(),2000)
                  }
                  layer.msg('导入成功！',{icon:6,offset:"auto",time:1000});//提示框
                  layer._delay(location.reload(),2000)
              } else {
                  layer.msg('导入失败,' + data.msg,{icon:6,offset:"auto",time:3000});//提示框
              }
          }
      });
  })

  function downloadTemplate() {
      window.open("/subsidize/download");
  }
</script>  
  
</html>