<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册LAU</title>


    
    <link rel="stylesheet" href="/Sys/css/layui.css">
    <link rel="stylesheet" href="/Sys/css/sign.css">
    
    <link rel="stylesheet" href="/Sys/js/css/modules/layui-icon-extend/iconfont.css">
     <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/Sys/css/font.css">
	<link rel="stylesheet" href="/Sys/css/xadmin.css">
	<link rel="stylesheet" href="/Sys/css/formSelects-v4.css" />
<script type="text/javascript"
	src="/Sys/js/jquery-3.3.1.min.js"></script>
    <script src="/Sys/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
        <script src="/Sys/js/formSelects-v4.js" type="text/javascript" charset="utf-8"></script>

</head>
    <body>
    <div class="x-body layui-anim layui-anim-up">
        <blockquote class="layui-elem-quote">欢迎：<span
					th:text="${session.name}"></span>
          当前日期:[[${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd')}]]</blockquote>
        米脂县学生资助和后勤服务中心于2020年9月由米脂县学生资助中心和米脂县中小学后勤服务中心组建而成，为米脂县教育和体育局下属事业单位，正科建制，核定事业编制11人，其中主任1名，副主任2名。负责全县学生资助事务的保障工作，开展生源地信用助学贷款申请、审核、发放、回收工作；指导各学校实施营养改善计划工作；负责全县各中小学(幼儿园)学校后勤服务保障工作；协助主管部门研究出台地方学生资助政策，制定相关资助管理办法；承办县教育和体育局交办的其他服务性工作。
    </body>
</html>