<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mizhi.yxd.mapper.AdminMapper">
    <insert id="registUser">
        insert into admin(account, name, psw, role) values (#{account},#{name},#{psw},#{identify})
    </insert>

    <insert id="insertBatch">
        insert into admin(account, name, psw, role) values
        <foreach collection="accounts" separator="," item="account">
            (#{account.account},#{account.name},#{account.psw},#{account.role})
        </foreach>
    </insert>

    <update id="updatePwd">
        update admin set psw = #{vo.password} where account = #{vo.account}
    </update>

    <update id="resetUserPwd">
        update admin set psw = #{pwd} where account = #{account}
    </update>

    <delete id="deleteUser">
        delete from admin where account = #{account}
    </delete>

    <select id="findAdmin" resultType="com.mizhi.yxd.entity.Admin">
      select account,psw,name,role from admin where account=#{0} and psw=#{1} and role=#{2} limit 1
   </select>

    <select id="queryCountByAccount" resultType="java.lang.Integer">
      select count(1) from admin where account = #{account}
    </select>

    <select id="findAll" resultType="com.mizhi.yxd.entity.Admin">
        select account,psw,name,role from admin
    </select>

    <select id="findAdminByPwdVo" resultType="com.mizhi.yxd.entity.Admin">
        select account,psw,name,role from admin where account = #{vo.account} and psw = #{vo.oldPassword}
    </select>

    <select id="queryUserWithPage" resultType="com.mizhi.yxd.entity.Admin">
        select account,psw,name,role from admin where 1 = 1
        <if test="vo.account != null and vo.account != ''">
           and account = #{vo.account}
        </if>
        <if test="vo.name != null and vo.name != ''">
            and name = #{vo.name}
        </if>
        limit #{map.start},#{map.pagesize}
    </select>

    <select id="queryAdminCountByCondition" resultType="java.lang.Integer">
        select count(1) from admin where 1 = 1
        <if test="vo.account != null and vo.account != ''">
            and account = #{vo.account}
        </if>
        <if test="vo.name != null and vo.name != ''">
            and name = #{vo.name}
        </if>
    </select>
</mapper>
